<!-- Header matter to include in each page -->
<head>
  <meta charset="utf-8">
  <meta name="description" content="Trying out this blogging thing">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>philwantsfish</title>

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="{{site.baseurl}}/bower_components/bootstrap/dist/css/bootstrap.css" />

  <!-- custom css overrides -->
  <link rel="stylesheet" href="{{site.baseurl}}/styles/custom.css">
  
</head>
