<!-- Header matter to include in each page -->
<head>
  <meta charset="utf-8">
  <meta name="description" content="Trying out this blogging thing">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>philwantsfish</title>

  <!-- Place favicon.ico in the root directory -->
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
  <link rel="stylesheet" href="/styles/custom.css">
  
  <script>
    // This script sets the proper navigation tab to active
    $( document ).ready(function() {
      // Get the current url
      var url = location.pathname
      
      // Pagination causes paths like /page2 /page3 etc. Handle these
      if (url.match(/^\/page/)) {
        $('ul.nav a[href="/"]').parent().addClass('active'); 
      } else {
        // Otherwise the navigation tab is the same as the href
        console.log(`[+] Phil: ${$('ul.nav a[href="'+ url +'"]')}`)
        $('ul.nav a[href="'+ url +'"]').parent().addClass('active');
      }
    });
  </script>
</head>
