---

---
<!doctype html>
<html>
  {% include header.html %}
  <body>
    {% include navigation.html %}

    <div class="container">
      <div class="col-md-8">
        <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
     
        <div class="row">
            <div class="group1 col-sm-6 col-md-6">
              {% for tag in page.tags %}
                <a href="{{tag}}">{{ tag }}</a>
              {% endfor %}
            </div>
            <div class="group2 col-sm-6 col-md-6">
              <span class="glyphicon glyphicon-time"></span> {{ page.date | date_to_long_string }}
            </div>
        </div>
     
        <hr/>
        {{ content }}

        <div class="row col-md-12">
        <hr/>
        <a class="btn btn-primary pull-right" href="/">Read more posts!</a>
        </div>
        <br/>
      </div>
      <div class="col-md-4">
        {% include sidebar.html %}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
