---

---
<!doctype html>
<html>
  {% include header.html %}
  <body>
    {% include navigation.html %}

    <div class="container">
      <div class="row col-md-12">
        <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
      </div>
      <div class="row">
          <div class="col-md-6">
            {% for tag in page.tags %}
              <a class="badge badge-secondary" href="{{tag}}">{{ tag }}</a>
            {% endfor %}
          </div>
          <div class="col-md-6 group2">
            <span class="glyphicon glyphicon-time"></span> {{ page.date | date_to_long_string }}
          </div>
      </div>
     
        <hr/>
      <div class="row col-md-12">
        {{ content }}
      </div>

      <div class="row col-md-12">
      <hr/>
      <a class="btn btn-primary pull-right" href="/">Read more posts!</a>
      </div>
        <br/>
    </div>

    {% include footer.html %}
  </body>
</html>
