@media (min-width: 768px) { /* tablets and up */
    .group2 {
        text-align: right;
    }

    .nav {
      padding-top: 5px;
    }

}

div.vertical-line {
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  height: 100%; 
  float: left; 
}

div.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

body {
  padding-top: 70px; 
}
