@media (min-width: 768px) { /* tablets and up */
    .group2 {
        text-align: right;
    }

    .nav {
      padding-top: 5px;
    }

}

div.vertical-line {
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  height: 100%; 
  float: left; 
}

div.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

body {
  padding-top: 70px; 
}


.post-meta {
    display: block;
    margin: 1.75rem 0 0 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #9EABB3;
}
